<html>
        <head>
            <title>My first site</title>
        </head>
        <body>
            <div>
                <h1><a href="">My first site</a></h1>
            </div>

            <div>
                <p>published: 20.09.2017</p>
                <h2><a href="">My first post</a></h2>
                <p>First paragraph</p>
            </div>{% for post in posts %}
        {{ post }}
    {% endfor %}
            <div>
                <p>published: 14.06.2014, 12:14</p>
                <h2><a href="">My second post</a></h2>
                <p>Second paragraph</p>
            </div>
        </body>
    </html>